body{
	background-image:url(https://scontent-b-dfw.xx.fbcdn.net/hphotos-ash4/t1/1426581_310352572440564_711796350_n.jpg);
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}
.colright{padding-top:200px;}

#speciallabel{
	text-align: left;
	padding-left: 10px;
}
.css{
	margin-top: 17px
}